<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vivacity.com.br.livrariaculturademo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Para usar um smartphone como mic e, em seguida, enviar a voz convertida em texto. -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_livraria_cultura_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!--
            Configure this line of code if record function need to be used.
            If it is taking effect, the ear LEDs of robot will turn into blue.
            APP will lose connection with main control service if misconfigured this line of code
            -->
            <meta-data
                android:name="config_record"
                android:value="true" />
        </activity>
        <activity
            android:name=".ProjetarVideoActivity"
            android:parentActivityName=".MainActivity"></activity>
    </application>

</manifest>